h2 {
    margin-bottom: 15px;
}

.location-search {
    margin-bottom: 15px;
}

#weather-detail {
    height: 180px;
}

#search-form {
    height: 100%;
}

.forecast {
    display: none;
    margin-bottom: 20px;
}

.forecast-card {
    width: 190px;
}